/* ensure all pages have Bootstrap CSS */
@import "~bootstrap/dist/css/bootstrap.min.css";

a {
  text-decoration: none !important;
}
/* Always scroll */
body {
  overflow-y: scroll;
}
/* Padding to offset fixed navbar */
body {
  padding-top: 56px;
}

@media only screen and (min-width: 768px) {
  body {
    padding-top: 78px;
  }
}
@media only screen and (max-width: 1024px) {
  body {
    padding-top: 56px;
  }
}

/* TYPOGRAPHY */
.card-text-name {
  color: #fe696a;
}
.card-text-price {
  color: #8469fe;
}
.card-button {
  border: #ff3e3e;
  color: #ff3e3e;
  cursor: pointer;
}
/* BEGIN MODAL */
/* STYLING */

.modal-header {
  border-bottom: 0;
}

.modal-card {
  padding: 10px 0;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  /* Solution for overlapping border:
     Set negative margin matching border thickness */
  margin-top: -1px;
}

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 320px;
  height: 100%;
  border-radius: 0%;
  border: 0;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
/* allow background to be interactable */
.fade.right.modal.show {
  width: 0%;
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
  border-radius: 0%;
  border: 0;
}

.modal.right .modal-body {
  padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
  -webkit-transition: opacity 3s linear, right 0.3s ease-out;
  -moz-transition: opacity 3s linear, right 0.3s ease-out;
  -o-transition: opacity 3s linear, right 0.3s ease-out;
  transition: opacity 3s linear, right 0.3s ease-out;
  right: -320px;
}
.fade.right.modal.show .modal-dialog {
  right: 0;
}
/* MODAL TOUCHUP */
body.modal-open {
  overflow: scroll !important;
  width: 100vw;
  overflow-x: hidden !important;
}
nav {
  padding-right: 0 !important;
}

.disable-scrollbars::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
/* END MODAL */

.bg-page {
  background-color: #e6e6e6 !important;
}

.hero-container {
  width: 100%;
}
.hero-bg-color {
  background-color: #3aafd2;
}
.hero-bg-color-2 {
  background-color: #f5b1b0;
}

@media only screen and (min-width: 768px) {
  .hero-categories {
    margin-top: -8rem;

    z-index: 10;
    position: relative;
  }
  .hero-text {
    margin-left: 35% !important;
    margin-top: 150px !important;
    text-align: left !important;
  }
  .hide {
    visibility: hidden;
    opacity: 0;
  }
  .show:hover .hide {
    visibility: visible;
    opacity: 100%;

    transition: opacity 300ms;
  }
}

@media only screen and (max-width: 768px) {
  .hero-sm {
    padding-left: 0;
    padding-right: 0;
  }
}

.hero-text {
  margin-top: 30px;
  margin-left: 0;
  text-align: center;
}
.hero-categories {
  flex: auto;
  z-index: 10;
  position: relative;
}
.card-shadow {
  box-shadow: 0 0 20px rgba(120, 154, 170, 0.425);
}
/* Custom Button */
.btn-custom {
  background-color: #fe696a !important;
  border: 1px solid rgba(255, 219, 219, 0) !important;
}
.btn-custom:hover {
  background-color: #cc5353 !important;
  border: 1px solid rgba(255, 142, 142, 0) !important;
}

.btn-custom:active {
  background-color: #a13939 !important;
  box-shadow: none !important;
  outline: none !important;
  border: 1px solid #fe696a !important;
}

.btn-custom:focus {
  background-color: #cc5353 !important;
  box-shadow: none !important;
  outline: none !important;
  border: 1px solid rgb(255, 219, 219);
}

/* Custom Filter Items Button */
.btn-custom-items {
  background-color: #ffffff !important;
  border: 1px solid#a13939 !important;
  color: #a13939 !important;
}

.btn-custom-items:hover {
  background-color: #cc5353 !important;
  color: #fff !important;
  border: 1px solid rgba(255, 142, 142, 0) !important;
}

.btn-custom-items:active {
  background-color: #a13939 !important;
  color: #ffffff !important;
  box-shadow: none !important;
  outline: none !important;
  border: 1px solid #fe696a !important;
}

.btn-custom-items:focus {
  color: #ffffff !important;
  background-color: #cc5353 !important;
  box-shadow: none !important;
  outline: none !important;
  border: 1px solid rgb(255, 219, 219);
}

.btn-size {
  background-color: #d8555500;
  border: 1px solid #d85555 !important;
  outline: none !important;
  color: black !important;
  box-shadow: none !important;
}

.btn-size + .active {
  border: 1px solid rgba(255, 219, 219, 0) !important;
  outline: none !important;
  color: rgb(253, 242, 242) !important;
}
.btn-size:hover,
.btn-size:active,
.btn-size:focus {
  outline: none !important;
  border: 1px solid rgba(255, 219, 219, 0) !important;
  color: rgb(253, 242, 242) !important;
}
.shadow-md:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.116);
  transition: box-shadow 300ms;
}

.icon {
  width: 20px;
  height: 20px;
}

.cart-icon-counter {
  position: absolute;
  top: -0.3125rem;
  right: -0.3125rem;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: #fe696a;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.25rem;
}

.cart-icon {
  cursor: pointer;
  position: relative;
  width: 2.875rem;
  height: 2.875rem;
  transition: color 0.25s ease-in-out;
  border-radius: 50%;
  line-height: 2.625rem;
  text-align: center;
  background-color: rgba(204, 204, 204, 0.342);
}

.login-icon {
  cursor: pointer;
  position: relative;
  width: 2.875rem;
  height: 2.875rem;
  transition: color 0.25s ease-in-out;
  border-radius: 50%;
  line-height: 2.625rem;
  text-align: center;
  background-color: rgba(204, 204, 204, 0);
}

.carousel-control-next,
.carousel-control-prev /* Changes carousel control color */ {
  filter: invert(60%);
}

/* Filter Button */

/* Dropdown.Menu */
/* Removes styling from Dropdown.Item */
.filter-style.dropdown-item {
  border-radius: 2% !important;

  min-width: 4rem !important;
  padding: 0;
}
/* Sets width for buttons in Filter on <Dropdown.Toggle> */
.filter-dropdown.dropdown-menu.show {
  min-width: 5rem;
  padding: 0;
}
/* Sets width for buttons in FilterItem on <Dropdown.Toggle> */
.item-button.dropdown-toggle {
  width: 5rem;
}
/* <Dropdown.Menu> for Items 
.filter-item.dropdown-menu {
  margin-left: 90px;
}
*/
/* Dropdown.Item */
.filter-item.dropdown-item:hover,
.filter-item.dropdown-item:active,
.filter-item.dropdown-item:focus {
  background-color: #d85555;
  color: aliceblue;
}
.filter-arrow {
  position: fixed;
  margin-top: 5px;
  margin-left: 70px;
  color: #ffffff;
}
.filter-arrow:hover {
  color: #ffffff;
}
